@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}

html,body{
    height: 100%;
    width: 100%;
}

#nav{
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

#banner1{
    height: 90%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 25px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium_2x.jpg);
    background-size: cover;
    background-position: bottom;
}
#banner1 h2{
    font-size: 50px;
    font-weight: 800;
}
#banner1 h6{
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
}

.btns{
    padding-top: 10px;
}

.btns button{
    padding: 13px 20px;
    border-radius: 20px;
}

.learn-btn{
    margin-right: 20px;
    color: white;
    background-color: royalblue;
    border: none;
}
.buy-btn{
    background-color: transparent;
    color: royalblue;
    border: 1px solid royalblue;
}
.buy-btn:hover{
    background-color: royalblue;
    color: white;
}

.banners{
    margin-top: 20px;
    text-align: center;
    color: black;
    padding:35px;
    
}
#air{
    height: 90%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_large_2x.jpg);
    background-size: cover;
    background-position: bottom;
}
.heading1{
    font-size: 60px;
}
.para1{
     font-size: 25px;
}
#iphone17{
    height: 90%;
    width: 100%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_large_2x.jpg);
    background-size: cover;
    background-position: bottom;
}

#icloud{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/icloud-plus/promo_icloud_plus__d4639vh3tz2a_large_2x.jpg);
    background-size: cover;
    background-position: bottom;
}
.heading2{
    font-size: 50px;
}
.para2{
    font-size: 20px; 
}

#games{
    color: white;
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-games/promo_apple_games__bfy0db0xi602_large_2x.jpg);
    background-size: cover;
    background-position: bottom;
}


.flex-banner{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 10px;
}

#airpods{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_large_2x.jpg);
    background-size: cover;
    background-position: bottom;
}

#ipad{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/ipad-air/promo_ipad_air_avail__6i02t7nujr62_large_2x.jpg);
     background-size: cover;
    background-position: bottom;
}