@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}

html,body{
    height: 100%;
    width: 100%;
}

#nav{
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
}

#banner{
    height: 90%;
    width: 100%;
    text-align: center;
    color: white;
    padding: 25px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium_2x.jpg);
    background-size: cover;
    background-position: bottom;
}
#banner h2{
    font-size: 50px;
    font-weight: 800;
}
#banner h6{
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
}

.btns{
    padding-top: 10px;
}

.btns button{
    padding: 13px 20px;
    border-radius: 20px;
}

.learn-btn{
    margin-right: 20px;
    color: white;
    background-color: royalblue;
    border: none;
}
.buy-btn{
    background-color: transparent;
    color: royalblue;
    border: 1px solid royalblue;
}
.buy-btn:hover{
    background-color: royalblue;
    color: white;
}

#banner2{
    margin-top: 10px;
    height: 90%;
    width: 100%;
    text-align: center;
    color: black;
    padding:35px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_large_2x.jpg);
    background-size: cover;
    background-position: bottom;
}

#banner2 h2{
    
    font-size: 60px;
}
#banner2 p{
    font-size: 25px;
}